[defaults]
retry_files_enabled = False
host_key_checking = True
local_tmp = /var/tmp/ansible-local
remote_tmp = /var/tmp/ansible-remote
interpreter_python = auto_silent
stdout_callback = default
inject_facts_as_vars = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
control_path_dir = /var/tmp/ansible-cp
control_path = %(directory)s/%%h-%%p-%%r
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o ServerAliveCountMax=4
transfer_method = sftp
pipelining = True
timeout = 30
retries = 2
